*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(1011bicicletasruta-1074902.jpg);
    background-size: cover ;
    background-repeat:repeat-y;

}
#bastidor{
    height: 1000px;
    width: 1250px;
    margin: 0.25px auto;
}
#head{
    border: 7px ridge silver;
    background-image: url(1_0jhl4qFmymQ3HGcPeJCBbw.jpeg);
    height: 10%;
    color: darkred;
    display: flex;  
    justify-content: center;  
    align-items: center;
}
h1{
    text-align: center;
    font-style:oblique; 
    margin: 10px; 
}
#nav{
    height: 3%;
    border: 5px ridge darkslategrey;
    background-color:dodgerblue;
    font-style: oblique;
    font-size: 20px;
    color: darkblue;
    display: flex;
}
#bodypanel{
    height: 85%;
    background-color:dimgrey;
    display: flex;
}
.body{
    background-color: white;
    border-radius: 10px;
    border:  5px ridge red;
    padding: 10px;
    width: 85%;
    float: right;
}
.panel{
    background-color: moccasin;
    border-radius: 10px;
    border :5px ridge blueviolet;
    margin: 1px;
    padding: 10px;
    width: 15%; 
    float:left;
    justify-content: left;
   /* text-align: center;*/
    
}
.arbol{
    width: 80%;
}
.pie{
    height:3% ;
    background-color: black;
    color: white;
    display: flex;
}
.cell{
    margin: 3px;
    padding: 5px;
    border: 1px ridge gray;
    
}
ul li ::marker{
    color: black;
    font-size: 1.5em;
}