*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
   background-image: url(fondo4.jpg);
   background-size:cover;
   /*background-color:saddlebrown;*/
   height: auto;
}
.header{
    background-color: brown;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    width: max-content;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;

}
.nav-menu-link:hover,
.nav-menu-link_active:hover{
    background-color: crimson;
    transform: .5s;
}
.nav-toggle{
    color:white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;
}
main{
    background-color: yellowgreen;
    border-color: rgb(4, 219, 15);
    border-style: solid;
    padding: 25px 25px;
    column-width: 100%;
    background: none;
    color: rgb(15, 185, 58);
    font-size: 25px;
   /* height: 2500px;*/
   height: auto;
    margin: 0;
}
.img_body{
   /* background-color:grey;*/
    /*display: flex;
    display: grid;
    grid-template-columns: 2;*/
    align-content: center;
}
/*article{
    background-color: white;
}*/
.img-div{
    display: grid;
    grid-row: auto;
    grid-template-columns: 2;
    border-color:3px black;
}
.marco{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}
.foto{
    border-color: cornflowerblue;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    width: 480px;
}
footer{
    display: flex;
    margin: 0 auto;
    background-color: black;
    color: white;
    
}
.futlis{
    display: flex;
    margin-right: 20px;
    list-style: none; 
}
.fut-menu-item{
    font-size: 15px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
}
button{
    background-color:black;
    color: white;
    border:2px white;
    height:45px ;
}

@media (max-width: 768px){
    body{
        padding-top: 70px ;
       /* background-image: url(Bike-blue_1920x1080.jpg);*/
        display: block;
    }
    .header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: grey;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background:none;
        color: rgb(11, 73, 16);
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
    .img_body{
        display:block;
    }
    main{
        color: white;
    }
    
}