body{
    background-image: url("https://i.blogs.es/e32e91/trucos-enfocar-fotografia-paisaje-01/1366_2000.jpg");
  }
  main{
    background-color: white;
    width: auto;
    height: max-content;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 2em;
    font-style: oblique;
    
  }
  footer{
    background-color: black;
    color:white;
    text-align: right;
    
  }
  h1{
      text-align: center;
  }
  ul{
      list-style: none;

  }
  p{

  }