{% extends "app1/inicio.html" %}

{% block title %}Cuadros{%endblock%}

{% block content %}

    <h1>Cuadros</h1>
    <p>
        El cuadro, bastidor, chasis o marco de bicicleta, dependiendo de región o nacionalidad, es la pieza básica de una bicicleta, en la cual se fijan los otros componentes como la horquilla, las ruedas, el sillín, el manillar, etc. Simplificando, se trata de conseguir una estructura rígida capaz de soportar grandes esfuerzos y cuanto más grande el cuadro, menos rígido va a resultar. Sin embargo, nuevos materiales, como la fibra de carbono, permiten nuevos diseños.
    </p>
    <ol>
        <li><a href="{% url 'tsup' %}"  rel="noopener noreferrer">Tubo superior</a></li>
        <li><a href="{% url 'tinf' %}"  rel="noopener noreferrer">Tubo inferior</a></li>
        <li><a href="{% url 'tsillin' %}"  rel="noopener noreferrer">Tubo de la silla</a></li>
        <li><a href="{% url 'plato' %}"  rel="noopener noreferrer">Platos o Estrellas</a></li>
        <li><a href="{% url 'vsup' %}"  rel="noopener noreferrer">Vaina superior</a></li>
        <li><a href="{% url 'vinf' %}"  rel="noopener noreferrer">Vaina inferior</a></li>
        <li><a href="{% url 'biela' %}"  rel="noopener noreferrer">Biela</a></li>
        <li><a href="{% url 'pedal' %}"  rel="noopener noreferrer">Pedal</a></li>
        <li><a href="{% url 'telescopio' %}"  rel="noopener noreferrer">Telescopio</a></li>
    </ol>
    <a href="{% url 'mas' %}"  rel="noopener noreferrer"> regresar</a>

{%endblock%}