{% extends "app1/inicio.html" %}

{% block title %}Frenos traceros{%endblock%}

{% block content %}

    <h1>Frenos traceros</h1>
    <p>
        freno tracero se trata asi como dice su nombre de bloquear la llanta tracera, es intalado o en la vaina superior o en el eje de la llanta
    </p>
    <div class="container">
        <div class="row align-items-end">
          <div class="col"> <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7M51F-tqRLqC_du5ZKNRYLUZgwdFmarkgBA&usqp=CAU" alt="" width=200px></div></div>
          <div class="col"> <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSinwpdK6LONvPDN6_HOornQvIWxvvVndhVXw&usqp=CAU" alt="" width=200px></div></div>
          <div class="col"> <div><img src="https://thumbs.dreamstime.com/b/cubo-de-rueda-trasera-con-freno-disco-y-pi%C3%B1ones-bicicleta-cierre-moderna-en-enfoque-selectivo-219537310.jpg" alt="" width=200px></div></div>
        </div>
    </div>
    <a href="{% url 'mas' %}"  rel="noopener noreferrer"> mas Piezas.</a>
    

{%endblock%}