{% extends "app1/inicio.html" %}

{% block title %}Llanta{%endblock%}

{% block content %}

    <h1>Llanta</h1>
    <p>
      Las llantas metálicos de bicicletas son normalmente de aleación de aluminio, aunque hasta la década de 1980 la mayoría de llantas de bicicleta - con la excepción de las utilizadas en las bicicletas de carreras - estaban hechos de acero y termoplástico, y fue históricamente hechas de madera.

      Sobre la llanta se asienta un neumático.

    </p>
    <div class="container">
        <div class="row align-items-end">
          <div class="col"> <div><img src="https://m.media-amazon.com/images/I/41ZXxB-IbpS._AC_.jpg" alt="" width=200px></div></div>
          <div class="col"> <div><img src="https://i.linio.com/p/0aae7c32d1b0d9de9036ff6195d841bb-product.jpg" alt="" width=200px></div></div>
          <div class="col"> <div><img src="https://m.media-amazon.com/images/I/61BT3+WKQXL._AC_SX679_.jpg" alt="" width=200px></div></div>
        </div>
      </div>
    <a href="{% url 'mas' %}"  rel="noopener noreferrer"> mas Piezas.</a>
{%endblock%}