{% extends "app1/inicio.html" %}

{% block title %}Telescopio{%endblock%}

{% block content %}

    <h1>Telescopio</h1>
    <p>

    </p>
    <div class="container">
        <div class="row align-items-end">
          <div class="col"> <div><img src="https://http2.mlstatic.com/D_NQ_NP_755011-MLA31635568635_072019-O.jpg" alt="" width=200px></div></div>
          <div class="col"> <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYaGks4wxIgr_2DQ_5FGOOYVItixhmeUyt-HPjqekNifhL9Ruer_zRwXFxU0grvNAvdVQ&usqp=CAU" alt="" width=200px></div></div>
          <div class="col"> <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKVKPNJCdCO5Bwk5HFunORKh4Y15iqA2EpjFC4hUjRuX86K-LaGdSLeeBjzbl7rX13dwc&usqp=CAU" alt="" width=200px></div></div>
        </div>
      </div>
    <a href="{% url 'mas' %}"  rel="noopener noreferrer"> mas Piezas.</a>

{%endblock%}